{% extends 'bootstrap/base.html' %}

{% block title %}
    {% if title %}{{ title }}{% else %}Welcome to Hard Chat!{% endif %}
{% endblock %}

{% block styles %}
    {{super()}}
        <link rel="stylesheet"
         href="{{url_for('static', filename='css/style.css')}}">
{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
    {{ moment.lang(g.locale) }}

<script>
$(function() {
    var timer = null;
    var xhr = null;
    $('.user_popup').hover(
        function(event) {
            // обработчик события mouse in
            var elem = $(event.currentTarget);
            timer = setTimeout(function() {
                timer = null;
                xhr = $.ajax(
                    '/user/' + elem.attr("id") + '/popup').done(
                        function(data) {
                            xhr = null
                            elem.popover({
                                    trigger: 'manual',
                                    html: true,
                                    animation: false,
                                    container: elem,
                                    content: data
                                }).popover('show');
                                flask_moment_render_all();                        }
                    );
            }, 1000);
        },
        function(event) {
            // обработчик события mouse out
            var elem = $(event.currentTarget);
            if (timer) {
                clearTimeout(timer);
                timer = null;
            }
            else if (xhr) {
                xhr.abort();
                xhr = null;
            }
            else {
		    elem.popover('hide');
            }
        }
    )
});
</script>
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav mr-auto">
	<li class="navbar-item">
		<a class="navbar-brand" href="{{ url_for('main.index') }}">HardChat</a>
	</li>
        {% if current_user.is_anonymous %}
        <li calss="navbar-item">
	    <a class="nav-link" href="{{ url_for('auth.login') }}">Login</a>
	</li>
	{% else %}
	<li calss="navbar-item">
	    <a class="nav-link" href="{{ url_for('main.user', id=current_user.id) }}">Profile</a>
	</li>
	<li calss="navbar-item">
	    <a class="nav-link" href="{{ url_for('auth.logout') }}">Logout</a>
        </li> 
	{% endif %}
        <li calss="navbar-item">
       	    <a class="nav-link" href="{{ url_for('main.explore') }}">Explore</a>
	</li>
    </ul>
    {% if g.search_form %}
    <form class="form-inline" method="get" action="{{ url_for('main.search') }}">
	    {{ g.search_form.q(size=20, class='form-control mr-sm-2',  placeholder=g.search_form.q.label.text) }}
    </form>
    {% endif %}
    </nav>
{% endblock %}
{% block content %}
    <div class="container">
	<div class="row">
            <div class="col-3">
		    <nav id="sidebap" class="sidebar-wrapper">
			    <ul>
				    <li><a>Friend 1</a></li>
				    <li><a>Friend 2</a></li>
				    <li><a>Friend 3</a></li>
			    </ul>
		    </nav>
	    </div>
            <div class="col-9">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
	    <div class="alert alert-info" role="alert">{{ message }}</div>
        {% endfor %}
	{% endif %}
	{% endwith %}
	{% block app_content %}
	{% endblock %}
	    </div>
	</div>
    </div>>
{% endblock %}
