{% extends 'bootstrap/base.html' %}

{% block title %}
    {% if title %}{{ title }}{% else %}Welcome to Hard Chat!{% endif %}
{% endblock %}

{% block styles %}
    {{super()}}
        <link rel="stylesheet"
         href="{{url_for('static', filename='css/style.css')}}">
{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
	{{ moment.lang(g.locale) }}
	<script src="{{ url_for('static', filename='script/user_popup.js') }}"></script>
    <script src="{{ url_for('static', filename='script/posts_lazy_load.js') }}"></script>
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav mr-auto">
		<li class="navbar-item">
			<a class="navbar-brand" href="{{ url_for('main.index') }}">HardChat</a>
		</li>
		{% if current_user.is_anonymous %}
		<li calss="navbar-item">
			<a class="nav-link" id="login_link" href="{{ url_for('auth.login') }}">Login</a>
		</li>
		<li calss="navbar-item">
			<a class="nav-link" id="registration_link" href="{{ url_for('auth.register') }}">Join</a>
		</li>
		{% else %}
		<li calss="navbar-item">
			<a class="nav-link" href="{{ url_for('main.user', id=current_user.id) }}">Profile</a>
		</li>
		<li calss="navbar-item">
			<a class="nav-link" href="{{ url_for('auth.logout') }}">Logout</a>
		</li> 
		<li calss="navbar-item">
			<a class="nav-link" href="{{ url_for('messages.read') }}">{{ _('Messages') }}
			{% set new_messages = current_user.new_messages() %}
			{% if new_messages %}
				<span class="badge badge-secondary">{{ new_messages }}</span>
			{% endif %}
			</a>
		</li>
		<li calss="navbar-item">
			<a class="nav-link" href="{{ url_for('main.explore') }}">Explore</a>
		</li>
		{% endif %}
    </ul>
    {% if g.search_form %}
    <form class="form-inline" method="get" action="{{ url_for('main.search') }}">
	    {{ g.search_form.q(size=20, class='form-control mr-sm-2',  placeholder=g.search_form.q.label.text) }}
    </form>
    {% endif %}
    </nav>
{% endblock %}
{% block content %}
    <div class="container">
	<div class="row">
            <div class="col-3">
		    <nav id="sidebap" class="sidebar-wrapper">
			    <ul>
				    <li><a>Friend 1</a></li>
				    <li><a>Friend 2</a></li>
				    <li><a>Friend 3</a></li>
			    </ul>
		    </nav>
	    </div>
            <div class="col-9">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
	    <div class="alert alert-info" role="alert">{{ message }}</div>
        {% endfor %}
	{% endif %}
	{% endwith %}
	{% block app_content %}
	{% endblock %}
	    </div>
	</div>
    </div>
{% endblock %}
