{% extends "base.html" %}

{% block app_content %}
    <h1>User: {{ user.name }}</h1>
    {% if user == current_user %}
        <a href="{{ url_for('main.edit_profile') }}">Edit profile</a>
    {% elif not current_user.is_following(user) %}
        <a href="{{ url_for('main.follow', user_id=user.id) }}">Follow</a>
    {% else %}
        <a href="{{ url_for('main.unfollow', user_id=user.id) }}">Unfollow</a>
    {% endif %}
    {% if user != current_user %}
        <a href="{{ url_for('messages.send', recipient_id=user.id) }}">
            {{ _('Send private message') }}
        </a>
    {% endif %}
    {% if user.status_text %}
        <p>{{ user.status_text }}</p>
    {% endif %}
    {% if user.last_visit_time %}
        <p>Last seen on {{ moment(user.last_visit_time).format('LLL') }}</p>
    {% endif %}
    <div id="scroller" class="mb-3">
        {% include '_post.html' %}
    </div>
    <div class="d-flex justify-content-center mb-3" id="sentinel">
        <div class="spinner-border" role="status"></div>
    </div>
    <div class="text-center">
        <button type="button" class="btn btn-light" id="load_posts_btn">More</button>
    </div>
{% endblock %}
