{% extends "base.html" %}
{% block content %}
<h1>Edit profile</h1>
<form action="" method="POST">
	{{ form.hidden_tag() }}
	<p>
	{{ form.name.label }}
	{{ form.name(size=32) }}
	{% for error in form.name.errors %}
	    <span style="color:red">{{ error }}</span>
	{% endfor %}
	</p>
	<p>
	{{ form.sename.label }}
	{{ form.sename(size=32) }}
	{% for error in form.sename.errors %}
	    <span style="color:red">{{ error }}</span>
	{% endfor %}
	</p>
	<p>
	{{ form.phone.label }}
	{{ form.phone(size=32) }}
	{% for error in form.phone.errors %}
	    <span style="color:red">{{ error }}</span>
	{% endfor %}
	</p>
	<p>
	{{ form.url.label }}
	{{ form.url(size=16) }}
	{% for error in form.url.errors %}
	    <span style="color:red">{{ error }}</span>
	{% endfor %}
	</p>
	<p>{{ form.submit() }}</p>
</form>
{% endblock %}
