{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf%}
{% block app_content %}
    <h1>Sign In</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
	{{ form.csrf_token() }}
	{{ wtf.form_errors(form, hiddens="only") }}
        <p>
        {{ wtf.form_field(form.email, class='form-control', placeholder='Email') }}
	</p>
        <p>
        {{ wtf.form_field(form.password, class='form-control', placeholder='Password') }}
        </p>
        <p>
	    {{ form.remember_me() }} 
	    {{ form.remember_me.label }}
	</p>
        <p>
	    {{ form.submit(class='btn btn-light text-dark') }}
	</p>
    </form>
    <p>New User? <a href= {{ url_for('register') }}>Join</a></p>
    <p>
        Forgot Your Password?
        <a href="{{ url_for('reset_password_request') }}">Click to Reset It</a>
    </p>
{% endblock %}
